@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/************** Color Paletts **************/

/* Palette 2 */
/* THIS IS JUST A REFERENCE--YOU MUST CHANGE COLORS BELOW */
/* see .design-section */
.palette-2 {
  background-color: #051015;
}

.bg-blue {
  background-color: #27AAE0;
}

.dark-blue {
  background-color: #33678F ;
}

.medium-blue {
  background-color: #29ADE8;
}

.light-blue {
  background-color: #3FBEE9 ;
}

.bg-orange {
  background-color: #F79624;
}

.dark-orange {
  background-color: #FF5400;
}

.medium-orange {
  background-color: #F39727;
}

.light-orange {
  background-color: #F8BF70;
}

/************** Custom Fonts **************/

@font-face {
  font-family: RobotoMono;
  src: url(../assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: RobotoMonoBold;
  src: url(../assets/fonts/static/RobotoMono-Bold.ttf);
}

@font-face {
  font-family: RobotoMonoItalic;
  src: url(../assets/fonts/static/RobotoMono-LightItalic.ttf);
}

/************** Default CSS **************/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  color: #809EAF !important;
  font-family: 'RobotoMono' !important;
}

/* Palette 2 Colors Start */

.bg-main-top {
  background-color: #051015;
  /* background-image: linear-gradient(#152238, #192841); */
}

/* Palette 2 Colors End */

.intro {
  font-variant: small-caps;
}

.sentence-start {
  font-size: xx-large;
}

.name {
  font-family: 'RobotoMonoBold' !important;
  color: #fff !important;
}

.design-text, .develop-text {
  font-family: 'RobotoMonoItalic' !important;
  font-variant: normal;
  color: #fff !important;
}

.changing-text {
  color: #fff;
}

.develop {
  letter-spacing: 2px;
}

/************** Nav Bar CSS **************/

nav.navbar.navbar-expand-lg.navbar-light {
  padding-top: 20px;
}

.navbar-brand-inner-text{
  color: #fff;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-link {
  color: #FF5400 !important;
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: red;
}

.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 19px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/************** Home CSS **************/

.heading-spacer {
  min-height: 35vh;
  max-height: 35vh;
}

.home-container {
  min-height: 65vh;
  max-height: 65vh;
}

/************** Timeline CSS **************/
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
}

/* Palette 2 Colors Start */
.timeline-text-container {
  color: #FF5400 !important;
  padding-left: 10px;
}

.timeline-text {
  color: #FF5400 !important;
}

.timeline-text-text {
  margin-left: 10;
}
/* Palette 2 Colors End */

.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
}

.timeline-component {
  margin: 0px 0px 0px 0px;
}

@media screen and (min-width: 300px) {
  .timeline {
    display: grid;
    grid-template-columns: 1px 1fr;
  }
  
  .main-middle {
    opacity: 0;
  }

  /* Palette 2 Colors Start */
  .timeline-middle {
    position: absolute;
    background-image: linear-gradient(45deg, #FF5400, #FF5400, #FF5400);
    width: 1px;
    height: 100%;
  }

  .timeline-circle {
    top: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #FF5400;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  /* Palette 2 Colors End */

}

/************** Hero CSS **************/

.hero {
  padding-left: 10px;
}

/************** Projects CSS **************/

.project-text {
  color: #fff;
}

.project-nav-link {
  color: #29ADE8 !important;
}

.project-nav-link.active {
  color: #fff !important;
  background: #29ADE8 !important;
}

/************** Project Card CSS **************/

.nav-pills {
  min-height: 10vh;
}

.project-card-col {
  background: #023047;
  border-radius: 5px;
  max-height: 78vh;
  min-height: 78vh;
  width: 90vw;
  margin-bottom: 80px;
}

.project-card-header-text {
  color: white;
}

.project-card-header-img {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.project-card-description-container {
  position: relative;
  top: -210px;
  padding: 20px;
}

.project-card-description {
  padding-top: 35px;
  padding-bottom: 35px;
}

.project-button-container {
  display: flex;
}

button.project-button.btn.btn-primary {
  border: none;
  background-color: #29ADE8;
  outline: none !important;
  outline-offset: none !important;
}

.shadow {
  background-image: linear-gradient(to bottom, rgba(2, 48, 71, 0.2), rgba(2, 48, 71, 0.5));
}

/************** About CSS **************/

.skills-container {
  min-height: 50vh;
  max-height: 50vh;
  padding-top: 10px;
  padding-bottom: 10px;
}

.skill-progress-bar-container {
  padding-bottom: 20px;
}

.skill-title {

}

.progress {
  background: #809EAF !important;
}

/* Palette 2 Colors Start */
.bg-custom-progress-bar {
  background-color: #FF5400 !important;
}
/* Palette 2 Colors Start */

/************** Contact Me CSS **************/



/************** Details CSS **************/
nav.sticky-nav {
}

.sticky-nav.container {
}

.bg-detail {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.detail-intro-container {
  height: 100vh;
}

.detail-header, .detail-sticky-header {
  padding: 0px 30px 0px 35px;
}

.detail-how-intro {
  height: 30vh;
}

.detail-carousel-container {
  height: 70vh;
}

.detail-how-container {
}

.detail-sticky-header {
  position: sticky;
  top: 6vh;
}

.detail-how-sub-header {
  padding: 30px 30px 30px 0px;
  position: sticky;
  top: 25vh;
}

.conclusion-header {
  padding: 30px 30px 30px 0px;
  position: sticky;
  top: 0vh;
}

.detail-how-sub-section-header {
  padding: 30px 30px 30px 0px;
  position: sticky;
  top: 30vh;
  text-transform: capitalize;
}


.detail-header-text {
  text-transform: uppercase;
}

.detail-text {
  padding: 30px 30px 30px 35px;
  color: #DDDFE1;
  font-size: medium;
}

.detail-title-divider {
  height: 3px;
  width: 20vw;
  margin-bottom: 20px;
  background-color: #FF5400;
  border-radius: 30%;
}

.detail-foot-divider {
  width: 90vw;
  padding-left: 35px;
  position: absolute;
  bottom: 15px;
  position: sticky;
}

.detail-foot-divider-bar {
  height: 3px;
  width: 80vw;
  margin-top: 12px;
  background-color: #FF5400;
  border-radius: 30%;
}

.detail-foot-divider-id {
  padding-left: 10px;
  width: 10vw;
  color: #FF5400;
}

.desc-container {
  height: 100vh;
}

.mod-container {
  height: 100vh;
}

.sticky-p {
  padding: 30px 30px 30px 0px;
  position: sticky;
  top: 40vh;
}

.sticky-mod {
  padding: 30px 30px 30px 0px;
  position: sticky;
  top: 40vh;
}

div.canvas {
  height: 30% !important;
}

/************** Fade In/Out CSS **************/

/* FadeInOnScroll.css */
.fade-in-on-scroll {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s, transform 0.5s;
}

.fade-in-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}