@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/************** Color Paletts **************/
/* Figma */



/* Palette 2 */
.palette-2 {
  background-color: #023047;
}

.bg-blue {
  background-color: #27AAE0;
}

.dark-blue {
  background-color: #33678F ;
}

.medium-blue {
  background-color: #29ADE8;
}

.light-blue {
  background-color: #3FBEE9 ;
}

.bg-orange {
  background-color: #F79624;
}

.dark-orange {
  background-color: #E76C16;
}

.medium-orange {
  background-color: #F39727;
}

.light-orange {
  background-color: #F8BF70;
}

/************** Custom Fonts **************/

@font-face {
  font-family: RobotoMono;
  src: url(../assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: RobotoMonoBold;
  src: url(../assets/fonts/static/RobotoMono-Bold.ttf);
}

@font-face {
  font-family: RobotoMonoItalic;
  src: url(../assets/fonts/static/RobotoMono-LightItalic.ttf);
}
/************** Default CSS **************/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  color: #809EAF !important;
  font-family: 'RobotoMono' !important;
}

/* Figma Colors Start */
.bg-main-top1 {
  background-color: #010013; /* For browsers that do not support gradients */
  background-image: linear-gradient(#010013, #12154C);
}

.bg-main-bottom1 {
  background-image: linear-gradient(#12154C, #461704);
}
/* Figma Colors End */

/* Palette 2 Colors Start */
.bg-main-top {
  background-color: #152238; /* For browsers that do not support gradients */
  background-image: linear-gradient(#152238, #192841);
}

.bg-main-bottom {
  background-image: linear-gradient(#192841, #461704);
}
/* Palette 2 Colors End */

.intro {
  font-variant: small-caps;
}

.sentence-start {
  font-size: xx-large;
}

.name {
  font-family: 'RobotoMonoBold' !important;
  color: #fff !important;
}

.design-text, .develop-text {
  font-family: 'RobotoMonoItalic' !important;
  font-variant: normal;
  color: #fff !important;
}

.changing-text {
  color: #fff;
}

.develop {
  letter-spacing: 2px;
}

/************** Nav Bar CSS **************/

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-link {
  color: #fff !important;
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: red;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 19px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/************** Timeline CSS **************/
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
}

/* Figma Colors Start */
.timeline-text1 {
  color: #FF5400 !important;
}
/* Figma Colors End */

/* Palette 2 Colors Start */
.timeline-text-container {
  color: #E76C16 !important;
  padding-left: 10px;
}

.timeline-text-text {
  margin-left: 10;
}
/* Palette 2 Colors End */

.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
}

.timeline-component {
  margin: 0px 0px 0px 0px;
}

@media screen and (min-width: 300px) {
  .timeline {
    display: grid;
    grid-template-columns: 1px 1fr;
  }
  
  .main-middle {
    opacity: 0;
  }

  /* Figma Colors Start */
  .timeline-middle {
    position: absolute;
    background-image: linear-gradient(45deg, #E76C16, #E76C16, #E76C16);
    width: 1px;
    height: 100%;
  }

  .timeline-circle {
    top: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #FF5400;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  /* Figma Colors End */

  /* Palette 2 Colors Start */
  .timeline-middle {
    position: absolute;
    background-image: linear-gradient(45deg, #E76C16, #E76C16, #E76C16);
    width: 1px;
    height: 100%;
  }

  .timeline-circle {
    top: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #FF5400;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  /* Palette 2 Colors End */

}

/************** Hero CSS **************/



/************** Projects CSS **************/

/* Figma Colors Start */
.project-nav-link1 {
  color: #809EAF !important;
}

.project-nav-link.active1 {
  color: #fff !important;
  background: #1887C7 !important;
}
/* Figma Colors End */

/* Palette 2 Colors Start */
.project-text {
  color: #fff;
}

.project-nav-link {
  color: #29ADE8 !important;
}

.project-nav-link.active {
  color: #fff !important;
  background: #29ADE8 !important;
}
/* Palette 2 Colors End */

.projects-col {
  background-color: blue;
  margin: 0;
  padding: 0;
}

/************** Project Card CSS **************/

.project-card-container {
  background: red;
}

.shadow {
  background-image: linear-gradient(to bottom, rgba(54,58,55,0.2), rgba(54,58,55,0.5));
}

.card-img {
  z-index: 0;
  position: relative;
  height: 500;
  width: 500;
  object-fit: cover;
  border-radius: 0.5em !important;
}

/************** About CSS **************/

.progress {
  background: #809EAF !important;
}

/* Figma Colors Start */
.bg-custom-progress-bar {
  background-color: #FF5400 !important;
}
/* Figma Colors Start */

/* Palette 2 Colors Start */
.bg-custom-progress-bar {
  background-color: #E76C16 !important;
}
/* Palette 2 Colors Start */

/************** Contact Me CSS **************/



/************** Details CSS **************/


